body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #eeeeee;
    color: #000000;
    width: 40em;
    margin: auto;
}

.SectionCaption {
    color: #585757;
    text-align: center;
}
